extends layout

block head
  link(rel="stylesheet", href="/stylesheets/home.css")

block footer
  script(src='/javascripts/home.bundle.js')

block content
  
  .column.tags
    .header
      img(src="/images/logo.png", alt="HackaDocs logo")

  .column.titles
    .header
      input.search-documents(type="text", placeholder="Search Documents")
    ul
      - for (let document of documents) {
        li(data-id=document.id)
          h3= document.title
          span
            time= document.date
            span  | 
            span= document.creator
          p= document.abstract
      - }
      
  .column.content

