extends layout

block head
  link(rel="stylesheet", href="/stylesheets/home.css")

block footer
  script(src='/javascripts/home.bundle.js')

block content
  
  .column.tags
    .header
      img(src="/images/logo.png", alt="HackaDocs logo")

    h4 Categories
    ul.categories
      li All
      li Technology
      li Biotechnology
      li Music

    h4 Tags
    ul.hashtags
      li hackademy
      li hackairan
      li teamup
      li opensource


  .column.titles
    .header
      input.search-documents(type="text", placeholder="Search Documents")
    ul
      - for (let document of documents) {
        li(data-id=document.uniqueUrl)
          h3= document.name
          span
            time= document.modifiedAt
            span  | 
            span= document.author
          p= document.summary
      - }

  .column.content
    article
      h1.article-title
      .article-content
    
    .article-loading

