extends layout

block content
    h1 Categories
    .categories-container
        .add-category
            a Add+
        table.category-items
            thead
                tr
                    th Title
                    th(colspan=3) Last Modified Items
            
            tbody
                -for(let item of categories)
                    tr
                        td(data-id=item._id).category-title= item.title
                        -if(item.documents)
                            -for(let doc of item.documents)
                                td
                                    table
                                        tr
                                            td title:
                                                span=doc.name 
                                            td unique url: 
                                                span=doc.uniqueUrl

                        -if(item.documents.length == 0)
                            td No documents in this category
                            
                        td 
                            button(data-id=item._id data-save=false).categoryEdit Edit
                            |
                            button(data-id=item._id).categoryDelete Delete

block modals
    .add-category-modal
        .add-category-background
        .foreground-container
            .fc-title Add new category
            input(type="text" name="title" placeholder="Enter title here").add-category-title
            .add-error
            .add-action-container
                Button.cancel Cancel
                Button.submit Save

    .delete-submit
        .delete-submit-background
        .foreground-container
            .fc-title Are you sure?
            .delete-error
            .action-container
                Button.cancel No
                Button.submit Yes

block scripts
    script(src="/javascripts/admin-categories.bundle.js")


