extends layout

block header
    link(rel="stylesheet", data-name="vs/editor/editor.main", href="/vs/editor/editor.main.css")

block content
    .create-document-form
        .form
            h2="Edit "+document.name
            input(type='text', name='name', placeholder='Enter title' value=document.name)
            label
            .content-container
                .container-props
                    span.resizer
                        img(src="/icons/expand.svg", alt="expand")
                    span.theme
                        img(src="/icons/black.svg", alt="theme")
                div(name='text', placeholder='Paste md text here' id='container')
            label
            input(type="hidden", value=document.text id='container-text')
            input(name='summary', placeholder='Enter summary here' value=document.summary ).summary
            label
            input(type='hidden', name='uniqueUrl' value=document.uniqueUrl).u-url
            label
            button.submit Save

block scripts
    script
        | var require = { paths: { 'vs': '/vs' } }
    script(src="/vs/loader.js")
    script(src="/vs/editor/editor.main.nls.js")
    script(src="/vs/editor/editor.main.js")
    script(src="/javascripts/admin-edit-doc.bundle.js")

