extends layout

block content
    h1.home-header My Documents
    .my-documents
        -for(let i = 0; i < userDocs.length; i++)
            .document-item
                .doc-title= userDocs[i].name
                .doc-url= userDocs[i].uniqueUrl
                .doc-category= userDocs[i].category.title
                .doc-summary= userDocs[i].summary
                .actions
                    a(href="user/editDocument/"+userDocs[i].uniqueUrl) Edit
                    Button.delete(data-url=userDocs[i].uniqueUrl) Delete

block scripts
    script(src="../../javascripts/adminHome.js")